@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme color options */
:root {
	--background: #ffffff;
	--foreground: #2d3436;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

/* global styles */
.textGradient {
	background: -webkit-linear-gradient(#eb4d4b, #e056fd);
	background: linear-gradient(#eb4d4b, #e056fd);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.purpleShadow {
	box-shadow: 3px 3px 1px 1px var(--tw-color-lightPurple);
}

.purpleShadow:hover {
	transform: translate(3px, 3px);
	box-shadow: 0px 0px 1px 1px var(--tw-color-darkPurple);
}
